<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLcuahangbanmaytinh.Properties.Settings.QLCuaHangMayTinh3ConnectionString"
            connectionString="Data Source=maru;Initial Catalog=QLCuaHangMayTinh3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLcuahangbanmaytinh.Properties.Settings.QLCuaHangMayTinhConnectionString"
            connectionString="Data Source=MARU;Initial Catalog=QLCuaHangMayTinh;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>